body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow: auto; 
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px; 
}


.image-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 1200px;
    margin: 20px auto 0; 
    overflow: hidden;
    overflow-y: hidden;
}


.month-calender img {
    width: calc(25% - 20px); 
    height: auto;
    border-radius: 8px; 
    transition: transform 0.3s ease-in-out; 
}


.month-calender img:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
}

.month-calender ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 250px;
    transform: translate(850px,90px);
}
.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translate(850px,90px);
}
.back-video{
    display: none;
}